<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>menuPrincipal</servlet-name>
        <jsp-file>/menuPrincipal.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>usuarios</servlet-name>
        <servlet-class>soft.jf.seguridad.servlets.usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenacombos</servlet-name>
        <servlet-class>soft.jf.seguridad.servlets.llenacombos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>perfiles</servlet-name>
        <servlet-class>soft.jf.seguridad.servlets.perfiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>soft.jf.seguridad.servlets.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>menuPrincipal</servlet-name>
        <url-pattern>/menuPrincipal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login.soft</servlet-name>
        <servlet-class>soft.jf.seguridad.servlets.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>soft.jf.seguridad.servlets.prueba</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login.soft</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarios</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenacombos</servlet-name>
        <url-pattern>/soft_util_combos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>perfiles</servlet-name>
        <url-pattern>/perfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
